<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-circus"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<input
  type="text"
  #val
  (keyup)="searchArray(val)"
  class="input input-md"
  placeholder="filter data"
/>
<div>
  <table>
    <tr>
      <th>id</th>
      <th>department</th>
      <th>manager</th>
      <th>city</th>
    </tr>
    <tr></tr>
    <tr *ngFor="let data of array">
      <td>{{ data.id }}</td>
      <td>{{ data.department }}</td>
      <td>{{ data.manager }}</td>
      <td>{{ data.city }}</td>
    </tr>
  </table>
</div>

<label for="filter">Choose a filter to apply:</label>
<br />
<select
  name="department"
  id="department"
  (change)="onChange('department', $event)"
>
  <option value="value" selected>department Name</option>
  <option [value]="data" *ngFor="let data of department">{{ data }}</option>
</select>
<br />
<select name="manager" id="manager" (change)="onChange('manager', $event)">
  <option value="value" selected>manager Name</option>
  <option [value]="data" *ngFor="let data of manager">{{ data }}</option>
</select>
